<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
            integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
            crossorigin="anonymous">

        <title>Índice</title>
    </head>
    <body>
        <div class="container mt-5">
            <h1>Bienvenido a la gestión de las actuaciones</h1>
            <h3>Seleccione entre fechas las actuaciones</h3>
            <form th:action="@{/buscar}" class="mt-5">
                <p>Fecha inicial: <input type="date" name="fechaInicial"></p>
                <p>Fecha final: <input type="date" name="fechaFinal"></p>
                <div class="row">Empleado: 
                    <select name="empleado" id="empleados">
                        <option th:each="empleado: ${empleados}" th:value="${empleado.idEmpleado}">
                            <span th:text="${empleado.nombre}"></span>
                            <span> </span>
                            <span th:text="${empleado.apellidos}"></span>
                        </option>
                    </select>
                </div>
                <p><input type="submit" value="Obtener Listado" class="mt-5"></p>
            </form>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
            integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
            crossorigin="anonymous"></script>
    </body>
</html>